
<mat-list>
  <mat-list-item> გადაცემული მნიშვნელობა: <b>{{date}}</b>, შედეგი: <b>{{date | customDate}}</b></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> გადაცემული მნიშვნელობა: <b>{{date2}}</b>, შედეგი: <b>{{date2 | customDate}}</b></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>გადაცემული მნიშვნელობა: <b>{{date3}}</b>, შედეგი:<b>{{date3 | customDate}}</b> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>გადაცემული მნიშვნელობა: <b>{{entry}}</b>, შედეგი: <b>{{entry | customDate}}</b></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="item">
    გადაცემული მნიშვნელობა:
    <mat-form-field class="input">
      <mat-label>Enter</mat-label>
      <input matInput type="text" [(ngModel)]="value">
    </mat-form-field>
    შედეგი:
    {{this.value | customDate}}
  </mat-list-item>
</mat-list>
