<div class="calendar">
  <h2>{{ currentMonth }} {{ currentYear }}</h2>
  <div class="calendar-grid">
    @for(day of ['Sun','Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']; track day){
      <div class="day-header">{{ day }}</div>
    }
      @for(week of weeks; track week){
        @for(date of week; track date; let i= $index){
          <div class="date">
            @if(i<=lastDayOfPrevMonth.getDay() && $index==0 && this.firstDayOfWeek != 0){
              <span class="wrong-month">{{ date }}</span>
            }
            @else if(i>=this.firstWeekDayOfNextMonth && $index == this.totalAmountOfWeeks && this.lastDayOfMonth.getDay() != 6){
              <span class="wrong-month">{{ date }}</span>
            }
            @else if(date && this.holidays.includes(date)){
              <span class="holiday">{{ date }}</span>
            }
            @else if(date && this.currentDay == date){
              <span class="current-date">{{ date }}</span>
            }
            @else{
              <span>{{ date }}</span>
            }
          </div>
        }
      }
  </div>
</div>

<!--lastDateOfLastMonth {{lastDayOfPrevMonth.getDay()}}-->
