.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 100%;
  max-width: 600px;
}

.day-header, .date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  transition: 0.3s;
  &:hover{
    background-color: rgba(105,105,105,0.73);

  }
  span{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.wrong-month{
      opacity: 0.3;
    }
    &.holiday{
     background-color: rgba(103,58,183,0.23);
    }
    &.current-date{
      background-color: #ffd740;
    }
  }
}

.day-header {
  font-weight: bold;
}
