
<mat-toolbar color="primary" class="header">
  <nav>
    <ul>
      <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Task1</li>
      <li routerLink="/task2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Task2</li>
      <li routerLink="/task3" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Task3</li>
      <li routerLink="/task4" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Task4</li>
      <li routerLink="/task5" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Task5</li>
    </ul>
  </nav>
</mat-toolbar>
