.input-container{
  width: 100%;
  display: flex;
  gap: 15px;
}
.input-item {
  width: 100%;
  .full-width{
    width: 100%;
  }
}

.result{

  border: 1px dashed rgba(0,0,0,0.5);
  padding: 15px;
  margin-top: 15px;
  border-radius: 15px;

  span{
    font-weight: bold;
  }
}
